<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.elsadesign.fakegps">
    <!-- required to mock location -->
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- required for "joystick" -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- required for "LocationService" on API 28+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="ir.elsadesign.fakegps.PERMISSION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HelpActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TripSimulationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.FixedPositionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.DynamicPositionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".service.LocationService"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.DynamicPointService"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.DynamicMovementReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SelectWayActivity"
            android:configChanges="orientation|locale"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>